* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 img {
    height: 200px;
    width: 200px;
 }

header {
    height: 75px;
    display: flex;
    padding: 20px 10px 20px 10px;
    justify-content: space-between;
    border: solid darkolivegreen;
    background-color: darkolivegreen;
}

h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: gold;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

ul li {
    display: inline-block;
    padding: 5px 5px 0px 5px;
}

h2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: xx-large;
    color: darkgrey;
    height: 360px;
    background-image: url("../images/tennis\ bg.jpg"); alt: "tennis themed background";
    background-position: left;
}

.work {
        display: grid;
        flex-direction: column;
        justify-content: space-between;
        background-size: 50%;

}

.work header {
    position: relative;
    margin: -20px;
}

.card,.cardlarge {
    padding: 10px;
    width: 250px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }

@media screen and (max-width: 768px) {
    header {
      flex-direction: none;
    }
}

@media screen and (max-width: 992px) {
    nav {
        flex-direction: column;
    }
}