* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

header {
    height: 75px;
    display: flex;
    padding: 20px 10px 20px 10px;
    justify-content: space-between;
    border: solid darkolivegreen;
    background-color: darkolivegreen;
}

h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: gold;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

ul li {
    display: inline-block;
    padding: 5px 5px 0px 5px;
}

h2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: xx-large;
    color: darkgrey;
    height: 360px;
    background-image: url("../images/tennis\ bg.jpg"); alt: "tennis themed background";
    background-position: left;
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: none;
    }
}

@media screen and (max-width: 992px) {
    nav {
        flex-direction: column;
    }
}